.background {
    background-image: url('images/desktop_bg.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
  }

  .home {
    color: white;
  }

  .home h1{
    color: white;
  }

  @media (max-width: 1400px) {
    .background {
      background-image: url('images/ipad_bg.png'); 
    }
  }

  @media (max-width: 400px) {
    .background {
      background-image: url('images/iphone_bg.png'); 
    }
  }

