.background {
    background-color: #18293b;
    background-size: cover;
    background-position: center;
    padding-bottom: 10%
}

.background h1 {
    color: white
}

.center {
    /* background-color: blue; */
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';

}


.fadeInLeft {
    animation: fadeInLeftAnimation 0.5s;
}

@keyframes fadeInLeftAnimation {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.fadeInRight {
    animation: fadeInRightAnimation 0.5s;
}

@keyframes fadeInRightAnimation {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.fadeInDown {
    animation: fadeInDownAnimation 0.5s;
}

@keyframes fadeInDownAnimation {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeOutLeft {
    animation: fadeOutLeftAnimation 0.5s forwards;
}

@keyframes fadeOutLeftAnimation {
    from {
        opacity: 1;
        transform: translateX(0);
        
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}


.fadeOutRight {
    animation: fadeOutRightAnimation 0.5s forwards;
}

@keyframes fadeOutRightAnimation {
    from {
        opacity: 1;
        transform: translateX(0);

    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}


.fadeOutDown {
    animation: fadeOutDownAnimation 0.5s forwards;
}

@keyframes fadeOutDownAnimation {
    from {
        opacity: 1;
        transform: translateY(0);

    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

.fadeInDown, .fadeInRight, .fadeInLeft {
    animation-fill-mode: forwards;
}