.background {
    /* background-image: url('../../images/background_pic.png');  */
    background-color: #F0F0F0;
    background-position: center;
    padding-bottom: 10vh;
    /* height: 110vh */

}


.background h1{
    padding-top: 50px;
}
